.form-control {
    width: 500px;
}

.form-control input {
    width: 100%;
    background: #fcfcfc;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #333;
}

.form-control .error {
    color: #ff5644;
    font-weight: 600;
    margin-top: 10px;
}